@import './variables';

// Noto Sans JP [400, 500, 700] from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese');

$theme-colors: ( // color for bootstrap
  "site-theme": $site-theme
);
@import "~bootstrap";


* {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: .4rem;
  border-bottom: solid 2px $site-theme;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 0 .2rem .6rem;
  border-left: solid 0.8rem $site-theme;
  margin-bottom: .8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  margin-bottom: .8rem;
}

p {
  line-height: 1.75rem;
  margin-bottom: .75rem;
}

li,
address,
small {
  line-height: 1.75rem;
}

a {
  &:visited {
    color: $site-theme;
  }
  &:hover {
    text-decoration: underline;
  }
}

section {
  margin: 1.5rem 0;
}

*::selection {
  background-color: $site-theme;
  color: #fff;
}


table {
  @extend .table;
}
code {
  padding: .15em .25em .1em .25em;
  margin: 0 .25em 0 .25em;
  border-radius: 0.2rem;
  border: 1px solid #aaa;
  background-color: #f8f9fa;
}
pre {
  width: 100%;
  color: black;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  font-size: 0.9rem;
  background-color: #f8f9fa;
  border-radius: 0.2rem;
  &:before,
  &:after {
    content: none;
  }
  code {
    padding: 0;
    margin: 0;
    border: none;
  }
}


.box {
  background-color: rgba(#fff, 0.8);
  border-radius: .3rem;
  box-shadow: 0 .125rem .25rem rgba(#000, .1);
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 900px) {
  .box {
    box-shadow: none;
    padding: 0;
  }
}
